# By default, build TF in C++ 14 mode.  
build --cxxopt=-std=c++14
build --host_cxxopt=-std=c++14

build --action_env PYTHON_BIN_PATH="/Users/admin/.pyenv/versions/3.6.8/bin/python"
build --action_env PYTHON_LIB_PATH="/Users/admin/.pyenv/versions/3.6.8/lib/python3.6/site-packages"
build --python_path="/Users/admin/.pyenv/versions/3.6.8/bin/python"
#build --action_env PYTHON_BIN_PATH="/home/liuyekuan/.pyenv/versions/3.6.8/bin/python"
#build --action_env PYTHON_LIB_PATH="/home/liuyekuan/.pyenv/versions/3.6.8/lib/python3.6/site-packages"
#build --python_path="/home/liuyekuan/.pyenv/versions/3.6.8/bin/python"

build:xla --define with_xla_support=true    
build:opt --copt=-march=native  
build:opt --copt=-Wno-sign-compare  
build:opt --host_copt=-march=native 
build:opt --define with_default_optimizations=true  
test --flaky_test_attempts=3    
test --test_size_filters=small,medium   
test --test_tag_filters=-benchmark-test,-no_oss,-oss_serial 
test --build_tag_filters=-benchmark-test,-no_oss    
test --test_tag_filters=-gpu,-nomac,-no_mac 
test --build_tag_filters=-gpu,-nomac,-no_mac    
build --action_env TF_CONFIGURE_IOS="0"

build --verbose_failures
build --disk_cache=.cache