# By default, build TF in C++ 14 mode.  
build --cxxopt=-std=c++14
build --host_cxxopt=-std=c++14

# Processor native optimizations (depends on build host capabilities).
build:nativeopt --copt=-mcpu=apple-m1
build:nativeopt --host_copt=-mcpu=apple-m1
build:nativeopt --copt=-O3
build --config=nativeopt

build -c opt

build --keep_going
build --verbose_failures=true
build --genrule_strategy=standalone

build --define=grpc_no_ares=true

# # Sets the default Apple platform to macOS.
build --apple_platform_type=macos
build --cpu=darwin_arm64

# Adding "--cxxopt=-D_GLIBCXX_USE_CXX11_ABI=0" creates parity with TF
# compilation options. It also addresses memory use due to
# copy-on-write semantics of std::strings of the older ABI.
build --cxxopt=-D_GLIBCXX_USE_CXX11_ABI=0

build --experimental_repo_remote_exec

# TF now has `cc_shared_library` targets, so it needs the experimental flag
build --experimental_cc_shared_library
